Source: bogo
Section: utils
Priority: optional
Maintainer: Trung Ngo <ndtrung4419@gmail.com>
Build-Depends: debhelper (>= 8.1.3),
 pkg-config,
 cmake
 libglibmm-2.4-dev
Standards-Version: 3.9.3
Homepage: https://github.com/BoGoEngine/bogo
Vcs-Git: git://github.com/BoGoEngine/bogo.git

Package: libbogo0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BoGo Vietnamese input engine
 BoGo is a modern Vietnamese input engine

#Package: libbogo-dev
#Section: libdevel
#Architecture: all
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: BoGo Vietnamese input engine -- development headers
# BoGo is a modern Vietnamese input engine

Package: python-bogo
Section: python
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},libbogo0
Description: BoGo Vietnamese input engine -- Python development support
 BoGo is a modern Vietnamese input engine
